In [119]:
import datetime
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt

## **Problema 1:** Determina qué ocurre cuando creamos un objeto `Series` a partir de un diccionario, pero adicionalmente proveemos el argumento opcional `index`. ¿De qué forma podemos utilizar esta propiedad?

In [3]:
#Para responder a la pregunta vemos que pasa
#creamos valores
valores_serie = [i**3 for i in range(10)]
indice_serie = [i**2 for i in range(10)]
serie_dict = dict(zip(indice_serie, valores_serie))
serie_dict

{0: 0, 1: 1, 4: 8, 9: 27, 16: 64, 25: 125, 36: 216, 49: 343, 64: 512, 81: 729}

In [20]:
# luego un nuevo indice
np.random.seed(1)
indice_nuevo = np.random.randint(0, 101, 30)
indice_nuevo

array([37, 12, 72,  9, 75,  5, 79, 64, 16,  1, 76, 71,  6, 25, 50, 20, 18,
       84, 11, 28, 29, 14, 50, 68, 87, 87, 94, 96, 86, 13])

In [21]:
#hacemos la prueba
serie = pd.Series(serie_dict, index = indice_nuevo)
serie

37      NaN
12      NaN
72      NaN
9      27.0
75      NaN
5       NaN
79      NaN
64    512.0
16     64.0
1       1.0
76      NaN
71      NaN
6       NaN
25    125.0
50      NaN
20      NaN
18      NaN
84      NaN
11      NaN
28      NaN
29      NaN
14      NaN
50      NaN
68      NaN
87      NaN
87      NaN
94      NaN
96      NaN
86      NaN
13      NaN
dtype: float64

Vemos primeramente que hace un tipo de filtrado, mantiene los valores originales cuando el indice viejo esta en el nuevo y los demás los deja como NaN.

¿Como podemos usarlo? 
Esta forma de llamar al constructor de Series puede ser util al trabajar con series de tiempo, si tu tienes una lista con los datetimes que te importa conservar de una serie de tiempo pues haces el proceso anterior para obtener la serie con los valores que te importaban y si hay valores que te importaban pero no estaban en la serie original se rellenan con NaN's para despues aplicar un ffill().

## **Problema 2:** Determina qué ocurre cuando creamos un objeto `Series` a partir de un valor numérico, pero adicionalmente proveemos el argumento opcional `index`. ¿De qué forma podemos utilizar esta propiedad?

Primero vemos que pasa.
Vemos abajo que se crea una serie con todos los indices indicados en cada uno de los valores asociados al indice se coloca el valor numerico.

In [39]:
index = [7, 1]
serie1 = pd.Series(np.pi, index = index)
serie1

7    3.141593
1    3.141593
dtype: float64

La unica manera en la que se me ocurre que la puedo usar es si quiero sumar valores a una serie en ciertos indices (en el 7 y 1 en este caso) sin tener que correr un for.

Aqui el ejemplo:

In [43]:
#A esta serie le quiero sumar pi en los indices 7 y 1
serie2 = pd.Series([5,5,5,5,7,7,7,8,8,9,9,9])

#Se lo sumamos y rellenamos los NaN (que resulta de cuanto un indice no esta en ambas series)
#con los valores originales
(serie1 + serie2).fillna(serie2)

0      5.000000
1      8.141593
2      5.000000
3      5.000000
4      7.000000
5      7.000000
6      7.000000
7     11.141593
8      8.000000
9      9.000000
10     9.000000
11     9.000000
dtype: float64

## **Problema 3:** El ejemplo anterior utiliza un concepto llamado *Structured Arrays* de NumPy. Investiga para qué pueden ser utilizados este tipo de arreglos.

Los Structured Arrays en NumPy son arreglos en los que cada 'columna'  puede tener diferentes tipos de datos y se accede a los elementos mediante nombres de campo. En lugar de ser homogéneos (como los arreglos regulares de NumPy), los Structured Arrays permiten almacenar datos heterogéneos en un formato tabular similar a una tabla o un DataFrame de pandas.

In [45]:
#vemos dos ejemplos
dtype = [('nombre', 'U10'), ('edad', int), ('altura', float)]
A = np.array([('Juan', 25, 1.75), ('María', 30, 1.60)], dtype=dtype)
A

array([('Juan', 25, 1.75), ('María', 30, 1.6 )],
      dtype=[('nombre', '<U10'), ('edad', '<i8'), ('altura', '<f8')])

In [49]:
#vemos dos ejemplos
dtype = [('nombre', 'U20'), ('edad', int), ('altura', float)]
B = np.array([('Juan', 25, 1.75), ('María', 30, 1.60)], dtype=dtype)
B['nombre']

array(['Juan', 'María'], dtype='<U20')

La utlidad que les encontre, segun lo que investigue, es que primeramente se comporta de manera similar a los DataFrame para acceder a los datos en la tabla, pero ademas te agrega mas tipos de datos
que los que tienen los DataFrame (un ejemplo es 'U10') y eso ayuda a poder optimizar aun mas el uso 
de recursos al hacer operaciones con las columnas.

**Problema 4:** Investiga las operaciones `isnull`, `notnull`, `dropna` y `fillna` de Pandas, así como el valor `pd.NA`. Puedes apoyarte de [la documentación](https://pandas.pydata.org/docs/user_guide/missing_data.html)

## isnull
isnull() es un metodo de series y dataframes que regresa una serie o dataframe de mismas dimenciones que el original pero todos los datos son remplazados por los valores True or False, donde True significa que el valor que estaba en esa posicion  es faltante y True no faltante.
Además, conserva el mismo indice lo que lo hace util para filtrar el dataframe original.
Es igual al isna().

In [61]:
#ejemplo de uso
df_n = pd.DataFrame(
    {
        'col1':[1,1,None,None],
        'col2':[None, None, 12.1, 14.2],
        'col3':[np.pi, np.cos(28),None, 0]
    }
)


#regresa una serie de booleans con mismos indices donde el valor indica si cumple la condicion de que el renglon tiene mas de un valor faltante
filtro = df_n.isna().sum(axis = 1) > 1
filtro

0    False
1    False
2     True
3    False
dtype: bool

## notnull()
Es muy similar al anterior, solo que True significa que es no nulo y False que es nulo. Es como ~df.isna().

In [68]:
#Ejemplo de uso
#tomando el df_n
df_n.notnull()

    col1   col2   col3
0   True  False   True
1   True  False   True
2  False   True  False
3  False   True   True

In [69]:
filtro2 = df_n.notnull().sum(axis = 1) > 1
filtro2

0     True
1     True
2    False
3     True
dtype: bool

In [72]:
#vemos si son iguales
filto.equals(~filtro2)

True

## fillna()
Es un metodo que se usa para poner un valor en los datos faltantes con diferentes formas de hacerlo.

In [74]:
#Ejemplo de uso
#El mas usual es rellenar valores faltantes con un valor

#metemos la media en cada columna de df_n
media = df_n.mean()

df_n.fillna(media, inplace = True) #en este caso le paso una seria con indice el nombre de las columnas y valor la media, que sirve para definir un mapeo de que poner en los valores faltans
df_n

   col1   col2      col3
0   1.0  13.15  3.141593
1   1.0  13.15 -0.962606
2   1.0  12.10  0.726329
3   1.0  14.20  0.000000

In [87]:
#igual se pueden usar metodos mas complejos 
df_n1 = pd.DataFrame(
    {
        'col1':[11, 11.1, 11.11, None, 11.12, 11.13],
        'col2':[1, 2, None, 3, 4, 6]
    }
)
df_n1

    col1  col2
0  11.00   1.0
1  11.10   2.0
2  11.11   NaN
3    NaN   3.0
4  11.12   4.0
5  11.13   6.0

In [88]:
#este lo uso mas con el asfreq pero por el momento aun se puedo usar aqui tambien
df_n1.col1 = df_n1.col1.fillna(method = 'ffill') #rellener con ultimo dato no faltanta (relleno hacia enfrente)
df_n1.col2 = df_n1.col2.fillna(method = 'backfill') #rellenar con siguiente valor no faltanta (relleno hacia atras)
df_n1

/tmp/ipykernel_97059/2490631681.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_n1.col1 = df_n1.col1.fillna(method = 'ffill')
/tmp/ipykernel_97059/2490631681.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_n1.col2 = df_n1.col2.fillna(method = 'backfill')

    col1  col2
0  11.00   1.0
1  11.10   2.0
2  11.11   3.0
3  11.11   3.0
4  11.12   4.0
5  11.13   6.0

## pd.Na
Es una representación específica de Pandas introducida para manejar valores nulos de manera más consistente en tipos de datos que None y np.nan.

In [146]:
#Ejemplo de uso
l1 = [1,2,3,None]
l2= [1,2,3, pd.NA]
l3 = [1.0,2.0,3.0, pd.NA]
z = pd.DataFrame({'l1':l1,'l2':l2, 'l3':l3})
z  #aqui vemos la columna que importamos con un None nos la cambia a flotante en lugar de entera

    l1    l2    l3
0  1.0     1   1.0
1  2.0     2   2.0
2  3.0     3   3.0
3  NaN  <NA>  <NA>

In [147]:
z.l1.equals(z.l2)  #aqui dio False

False

In [148]:
z.l2.equals(z.l3) #aqui True incluso si esa columna nos representa los mismos datos que l1, en general sirve para combatibildad con metodos

True